<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input class="input">Usuario</ion-input>
    <ion-input type='password'class="input">Contraseña</ion-input>
    <ion-button expand="block" fill="outline" routerLink="/home">Login</ion-button>
<ion-content>
