<ion-header>
  <ion-toolbar>
    <ion-title class="title-animation">
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-animation">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button class="boton" (click)="guardar()">
        Ingresar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/cambiarcontrasena']">Cambiar Contraseña</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>