<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='fondo'[fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input class="input" placeholder="Ingrese su nombre de usuario">Usuario</ion-input>
    <ion-input type='password'class="input" id="Contraseña" placeholder="Ingrese su Contraseña">Contraseña</ion-input>
    <ion-button class='boton' expand="block" fill="outline" (Click)="validarContrasenia()" routerLink="/home">Login</ion-button>
    <ion-label class="label" >¿Olvidaste tu contraseña?</ion-label>
<ion-content>
